@font-face {
  font-family: 'hello_alpharegular';
  src: url('fonts/hello_alpha-webfont.woff2') format('woff2'),
    url('fonts/hello_alpha-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  text-align: center;
  background-color: black;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

p {
  font-family: hello_alpharegular;
  font-size: 300%;
  color: white;
  -webkit-font-smoothing: none;
}